.code-highlighter {
    display: block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre-wrap;
    tab-size: 4;
}

.code-block-wrapper .meta {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #eee;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.code-block-wrapper .actions {
    float: left;
    line-height: 22px;
    margin-right: 10px;
}

.code-block-wrapper .info {
    height: 23px;
    line-height: 23px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.code-block-wrapper .meta-divider {
    display: inline-block;
    width: 1px;
    height: 15px;
    margin: 0 3px;
    vertical-align: middle;
    background-color: #ddd;
}

.code-highlighter .line-numbers {
    margin-right: 15px;
    color: #000;
    font-weight: normal;
    float: left;
}

.code-highlighter .line-number {
    display: block;
}

.code-block-wrapper .copy-text {
    font-size: 16px;
    cursor: pointer;
}
